<% provide(:title, "Log in") %>
<h1>ユーザーログイン</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with scope: :session, url: login_path, local: true, id: "login_user" do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <div class="submit">
        <%= f.submit "ログイン", class: "btn btn-primary" %>
      </div>

      <p>ユーザー登録がまだお済ではありませんか？</p>
      <p><%= link_to "ここからユーザー登録できます！", signup_path %></p>
    <% end %>
  </div>
</div>