<%= search_form_for @q, url: user_path(@user), class: "mb-3" do |f| %>
  <div class="form-group row mb-0">
    <%= f.label :title_cont, 'タイトル検索', class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= f.search_field :title_cont, class: "form-control mb-2" %>
      <%= f.submit class: "btn btn-outline-primary" %>
    </div>
  </div>
<% end %>

<h3>投稿数 (<%= @user.posts.count %>)</h3>
<div>
  <table class="table table-hover">
    <thead class="thead-default">
      <tr>
        <th><%= Post.human_attribute_name(:title) %></th>
        <th><%= Post.human_attribute_name(:tag) %></th>
        <th><%= Post.human_attribute_name(:material) %></th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.title %></td>
          <td><%= post.tag_text %></td>
          <td><%= post.material %></td>
          <td>
            <%= link_to '詳細', post_path(post), class: 'btn btn-primary mr-1' %>
            <% if current_user?(post.user) %>
              <%= link_to '編集', edit_post_path(post), class: 'btn btn-primary mr-1' %>
              <%= link_to '削除', post,
                                  method: :delete, 
                                  data: { confirm: "タスク「#{post.title}」を削除します。よろしいですか？" },
                                  class: 'btn btn-danger' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @posts %>
<%= page_entries_info @posts %>
