<div class="row">
  <div class="col-md-8">

    <div class="search-form">
      <%= form_with url: root_path, method: :get, local: true do |f| %>
        <%= f.label :search, '投稿タイトル検索' %>
        <div>
          <%= f.text_field :search %>
          <%= f.submit '検索' %>
        </div>
      <% end %>
    </div>

    <% if logged_in? %>
      <%= render 'shared/feed' %>
    <% else %>
      <% @posts.each do |post| %>
        <ol class="posts p-0">
          <%= render 'home/post', post: post %>
        </ol>
      <% end %>
      <%= will_paginate @posts %>
    <% end %>

  </div>

  <div class="col-md-4 home-desc">

    <% if logged_in? %>
      <% @user ||= current_user %>

      <%= render 'shared/stats' %>

      <% if @user.likes.any? %>
      <div class="like-posts">
        <h3>いいねした投稿</h3>
        <% @user.liked_posts.each do |post| %>
          <ul>
            <li>
              <%= link_to post_path(post.id) do %>
                <%= post.user.name %>:<%= post.title %>
              <% end %>
            </li>
          </ul>
        <% end %>
      </div>
    <% end %>

    <% else %>
      <h1>Learning Chain</h1>
      <p class>学習記録SNSアプリケーションです。</p>
      <p class>タイマーで勉強時間を測って投稿してみましょう！</p>
      <p class=>ログインすると投稿できます！</p>
      
      <div class="mt-5">
        <div>
          <p>まだユーザー登録がお済でない方↓</p>
          <div>
            <%= link_to signup_path, class:"btn btn-primary rounded-pill" do %>
              新規登録ページへ
            <% end %>
          </div>
        </div>

        <div class="mt-5">
          <p>メールアドレス : "test@example.com"</p>
          <p>パスワード : "password"</p>
          <p>でもログイン可能です！</p>
        </div>

        <div class="mt-5">
          <p>ユーザー登録がお済の方↓</p>
          <div>
            <%= link_to login_path, class:"btn btn-danger rounded-pill" do %>
              ログインページへ
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

  </div>
</div>