<li id="post-<%= post.id %>">
  <div class="parent">

    <div>
      <span class="title">
        <%= link_to post_path(post.id) do %>
          <%= post.title %>
        <% end %>
      </span>
    </div>

    <div>
      <% if post.user.image.attached? %>
        <%= image_tag(post.user.image, :size => "35x35", :class => "top-icon", :alt => "アイコン") %>
      <% else %>
        <%= image_tag("cat-default.jpg", :size => "35x35", :class => "top-icon", :alt => "アイコン") %>
      <% end %>
      <span class="user"><%= link_to post.user.name, post.user %></span>
    </div>

    <div class="material-box">
      <span class="material">教材：<%= post.material %></span>
    </div>
    <div>
      <% post.tags.each do |tag| %>
        <span class="label label-primary"><%= tag.name %></span>
      <% end %>
    </div>

    <div class="time-like">
      <div class="like-position">
        <% if logged_in? %>
          <div id="like_form_<%= post.id %>">
            <%= render "likes/like", post: post %>
          </div>
        <% else %>
          💓
          <strong><%= post.likes.count %></strong>
        <% end %>
      </div>

      Posted <%= time_ago_in_words(post.created_at) %> ago.
      <% if current_user?(post.user) %>
        <%= link_to "delete", post, method: :delete,
                                        data: { confirm: "You sure?" } %>
      <% end %>
    </div>

  </div>
</li>