<li class="mt-3 py-3 pl-3" id="post-<%= post.id %>">
  <div>
    <span class="title font-weight-bold">
      <%= link_to post_path(post.id) do %>
        <%= post.title %>
      <% end %>
    </span>
  </div>

  <div>
    <% if post.user.image.attached? %>
      <%= image_tag(post.user.image, size: "35x35", class: "top-icon", alt: "アイコン") %>
    <% else %>
      <%= image_tag("cat-default.jpg", size: "35x35", class: "top-icon", alt: "アイコン") %>
    <% end %>
    <span class="user ml-2"><%= link_to post.user.name, post.user %></span>
  </div>

  <div class="mt-2">
    <span class="material">教材：<%= post.material %></span>
  </div>

  <div class="tag-box">
    <span class="badge badge-primary"><%= post.tag_text %></span>
  </div>

  <div class="time-like">
    <div class="d-flex">
      <div class="mt-2">
        <%= link_to post_path(post.id) do %>
          <span class="mt-2 detail-text">詳細を見る</span>
        <% end %>
      </div>
    </div>

    Posted <%= time_ago_in_words(post.created_at) %> ago.
    <% if current_user?(post.user) %>
      <%= link_to edit_post_path(post.id) do %>
        <i class="fas fa-edit"></i>
      <% end %>
      <%= link_to post, method: :delete, data: { confirm: "本当に削除しますか？" } do %>
        <i class="fas fa-trash"></i>
      <% end %>
    <% end %>
  </div>
</li>
