<%= form_with(model: @post, local: true, id: "post_form") do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :material %>
    <%= f.text_field :material, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :tag %><br>
    <%= f.select :tag, Post.tag.options %>
  </div>
  
  <div class="form-group">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>

  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <div class="submit">
    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  </div>
<% end %>
