<div>
  <% if @post.user.image.attached? %>
    <%= image_tag(@post.user.image, :size => "50x50", :class => "top-icon", :alt => "アイコン") %>
  <% else %>
    <%= image_tag("cat-default.jpg", :size => "50x50", :class => "top-icon", :alt => "アイコン") %>
  <% end %>
  <span class="user"><%= link_to @post.user.name, @post.user %></span>
</div>

<div class="show_title_box">
  <span class="show_title">
    <%= @post.title %>
  </span>
</div>

<div class="show_material_box">
  <span class="show_material">
    教材：<%= @post.material %>
  </span>
</div>

<div class="show_tags_box">
  <% @post.tags.each do |tag| %>
    <span class="label label-primary"><%= tag.name %></span>
  <% end %>
</div>

<% unless @post.clock_id.nil? %>
  <div class="label label-success show_clock_box">
    <span class="clock"><%= @post.clock.name %></span>
  </div>
<% end %>

<% if @post.image.attached? %>
  <%= image_tag @post.image %>
<% end %>

<div class="show_content_box">
  <span class="content"><%= @post.content %></span>
</div>

<div class="show_likes_box">
    <h3>この投稿をいいねしたユーザー</h3>
    <% @post.liked_users.each do |user| %>
      <ul>
        <li>
          <% if user.image.attached? %>
            <%= image_tag(user.image, :size => "30x30", :class => "top-icon", :alt => "アイコン") %>
          <% else %>
            <%= image_tag("cat-default.jpg", :size => "30x30", :class => "top-icon", :alt => "アイコン") %>
          <% end %>
          <%= link_to user_path(user.id) do %>
            <%= user.name %>
          <% end %>
        </li>
      </ul>
    <% end %>
  </div>

<%= render 'posts/comment_form' %>

<div class="comment_index">
  <h3>Comments (<%= @post.comments.count %>)</h3>
  <% @post.comments.each do |comment| %>
    <ul>
      <li>
        <div>
          <% if comment.user.image.attached? %>
            <%= image_tag(comment.user.image, :size => "50x50", :class => "top-icon", :alt => "アイコン") %>
          <% else %>
            <%= image_tag("cat-default.jpg", :size => "50x50", :class => "top-icon", :alt => "アイコン") %>
          <% end %>
          <%= link_to user_path(comment.user.id) do %>
            <span class= "comment-name"><%= comment.user.name %></span>
          <% end %>
        </div>
        <div class="comment-box">
          <span class="comment-body"><%= comment.body %></span>
        </div>
        <span class= "batu"><%= link_to "削除", [@post,comment], method: :delete if current_user?(comment.user) %></span>
      </li>
    </ul>
  <% end %>
</div>